@import
  "layout/activities",
  "layout/awards",
  "layout/site-header",
  "layout/site-footer",
  "layout/page-content",
  "layout/post",
  "layout/home",
  "layout/name-card",
  "layout/news",
  "layout/publications",
  "layout/talks",
  "layout/teaching"
;
