.news-item {
  @include relative-font-size(0.75);
  border-bottom: 1px solid #ccc;
}

.news-item-highlight:before {
  content: "\26A1";
  margin-left: -1.3em;
}

.sites-embed-showing-results {
  @include relative-font-size(0.7);
}